.bg-dark {
    background-color: #12002b;
    height: 734px;
    display: flex;
    align-items: baseline;

    @media (min-width: 920px) {
        height: 606px;
    }
}



.sign-in-content {
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 3rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}